* {
  margin: 0;
  padding: 0;
  font-family: 'HelveticaNeueCyr',sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*::-webkit-scrollbar {
  width: 3px;
  height: 3px; }

*::-webkit-scrollbar-button {
  background-color: #666; }

*::-webkit-scrollbar-track {
  background-color: #999; }

*::-webkit-scrollbar-track-piece {
  background-color: #ffffff; }

*::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  -webkit-border-radius: 3px;
          border-radius: 3px; }

*::-webkit-scrollbar-corner {
  background-color: #999; }

*::-webkit-resizer {
  background-color: #666; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

button {
  cursor: pointer;
  border: none; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

a:focus, button:focus {
  outline: 0; }

.container {
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 15px; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.col {
  padding: 0 15px; }

header {
  height: 100px;
  position: relative; }
  header .container {
    height: 100%; }
    header .container .row {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%; }
      header .container .row .col:last-child {
        margin-left: auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start; }
  header .nav.main_menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 82px; }
    header .nav.main_menu li {
      margin-left: 49px; }
      header .nav.main_menu li:first-child {
        margin-left: 0; }
      header .nav.main_menu li a {
        font-size: 16px;
        font-weight: 300;
        color: #20202B;
        position: relative; }
        header .nav.main_menu li a::after {
          content: '';
          position: absolute;
          -webkit-transition: all .6s ease;
          -o-transition: all .6s ease;
          transition: all .6s ease;
          bottom: -3px;
          left: 0;
          height: 1px;
          width: 0;
          opacity: 0;
          visibility: hidden;
          background: #20202B; }
        header .nav.main_menu li a:hover:after {
          width: 100%;
          opacity: 1;
          visibility: visible; }
  header .phone {
    font-size: 18px;
    color: #20202B;
    display: block;
    width: 100%;
    min-width: 150px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }
    header .phone:hover {
      letter-spacing: 1px; }
  header .button.modal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 19px;
    max-width: 160px;
    min-width: 160px;
    width: 100%;
    height: 42px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #E4BE90;
    font-size: 16px;
    color: #ffffff;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    border: 1px solid transparent; }
    header .button.modal:hover {
      background: transparent;
      border: 1px solid #E4BE90;
      color: #E4BE90; }

.first_section {
  position: relative; }
  .first_section .col-6 {
    padding: 0 15px;
    max-width: 50%; }
  .first_section .container {
    max-width: 1800px; }
    .first_section .container .row:first-child {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
    .first_section .container .row:nth-child(2) {
      -webkit-box-pack: stretch;
      -webkit-justify-content: stretch;
          -ms-flex-pack: stretch;
              justify-content: stretch; }
      .first_section .container .row:nth-child(2) .col .works_box .works_box__text_box {
        bottom: 3px; }
      .first_section .container .row:nth-child(2) .col:nth-child(2) .works_box .works_box__text_box {
        bottom: 1px; }
    .first_section .container .row:last-child {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .first_section .container .row:last-child .col:first-child {
        margin-left: 100px; }
        .first_section .container .row:last-child .col:first-child .works_box {
          margin-top: -60%; }
    .first_section .container .col {
      max-width: 33.33%;
      padding: 0 15px; }
  .first_section .works_box {
    margin-top: 30px;
    position: relative;
    max-height: 616px;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease; }
    .first_section .works_box:hover img.works_box__image {
      -webkit-filter: brightness(1.1);
              filter: brightness(1.1); }
    .first_section .works_box .works_box__image {
      width: 100%;
      height: auto;
      -webkit-transition: all .7s ease;
      -o-transition: all .7s ease;
      transition: all .7s ease; }
    .first_section .works_box .works_box__text_box {
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 333px;
      width: 100%;
      min-height: 93px;
      background-image: url("../img/bg-gradient.png");
      background-position: center;
      background-repeat: no-repeat;
      padding-left: 17px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transition: all .7s ease;
      -o-transition: all .7s ease;
      transition: all .7s ease; }
      .first_section .works_box .works_box__text_box:hover {
        -webkit-filter: brightness(1.2);
                filter: brightness(1.2); }
      .first_section .works_box .works_box__text_box .works_box__text_box__style {
        color: #fff;
        font-size: 18px;
        font-weight: 300; }
      .first_section .works_box .works_box__text_box .works_box__text_box__town {
        font-size: 14px;
        color: #FDE2C1;
        font-weight: 300;
        margin-top: 7px; }
      .first_section .works_box .works_box__text_box .works_box__text_box__arrow {
        position: absolute;
        right: 24px;
        top: 50%;
        -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
                transform: translate(0, -50%); }

.background_img {
  position: absolute;
  max-width: 800px;
  width: 100%;
  right: 0;
  top: 41px; }
