* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

*::-webkit-scrollbar-button {
  background-color: #666;
}

*::-webkit-scrollbar-track {
  background-color: #999;
}

*::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}

*::-webkit-scrollbar-corner {
  background-color: #999;
}

*::-webkit-resizer {
  background-color: #666;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style: none;
}

a:focus, button:focus {
  outline: 0;
}
input:focus, textarea:focus {
  outline: 0;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 15px;
}


// Header
header {
  height: 100px;
  position: relative;
  .container {
    height: 100%;
    max-width: 1600px;
    .row {
      align-items: center;
      height: 100%;
      .col:last-child {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }
  .nav.main_menu {
    display: flex;
    margin-left: 82px;
    li {
      margin-left: 49px;
      &:first-child {
        margin-left: 0;
      }
      a {
        font-size: 16px;
        font-weight: 300;
        color: #20202B;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          transition: all .6s ease;
          bottom: -3px;
          left: 0;
          height: 1px;
          width: 0;
          opacity: 0;
          visibility: hidden;
          background: #20202B;
        }
        &:hover:after {
          width: 100%;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  .phone {
    font-size: 18px;
    color: #20202B;
    display: block;
    width: 100%;
    min-width: 150px;
    transition: all .5s ease;
    &:hover {
      letter-spacing: 1px;
    }
  }
  .button.modal {
    display: flex;
    margin-left: 19px;
    position: relative;
    max-width: 160px;
    min-width: 160px;
    width: 100%;
    height: 42px;
    justify-content: center;
    align-items: center;
    background: #E4BE90;
    font-size: 16px;
    color: #ffffff;
    transition: all .6s ease;
    border: 1px solid transparent;
    &:hover {
      background: transparent;
      border: 1px solid #E4BE90;
      color: #E4BE90;
    }
  }
}
header .mobile_menu {
  width: 30px;
  height: 25px;
  position: relative;
  cursor: pointer;
  display: none; }
header .mobile_menu.active span:first-child {
  width: 0; }
header .mobile_menu.active span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }
header .mobile_menu.active span:nth-child(3) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 10px; }
header .mobile_menu span {
  position: absolute;
  height: 4px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  width: 100%;
  background: #000000;
  -webkit-transition: all .6s ease-out;
  -o-transition: all .6s ease-out;
  transition: all .6s ease-out; }
header .mobile_menu span:nth-child(1) {
  top: 0; }
header .mobile_menu span:nth-child(2) {
  top: 11px; }
header .mobile_menu span:nth-child(3) {
  bottom: 0; }
// First section
.first_section {
  position: relative;
  padding-top: 45px;
  .container {
    max-width: 1800px;
    .row {
      align-items: flex-start;
      justify-content: center;
      height: 100%;
      align-content: flex-start;
      .works_box {
        display: flex;
        flex-direction: column;
        height: 100%;
        .works_box__image {
          height: 100%;
          object-fit: cover;
        }
      }
      .col-lg-4.first_row{
        margin-left: auto;
        height: 100%;
        align-self: flex-end;
        display: flex;
        .works_box {
          max-width: 430px;
          display: flex;
          align-self: flex-end;
          width: 100%;
          max-height: 615px;
          min-height: 615px;
          margin-left: auto;
          .works_box__image {
            height: 100%;
          }
        }
      }
      .col-lg-6.first_row {
        margin-right: auto;
        height: 100%;
        align-self: flex-end;
        .works_box {
          max-height: 428px;
          min-height: 428px;
          max-width: 681px;
          width: 100%;
        }
      }
      .col-lg-5.second_row {
        padding-top: 30px;
        height: 100%;
        .works_box {
          max-height: 428px;
          min-height: 428px;
          max-width: 681px;
          width: 100%;
          margin-left: auto;
          display: flex;
          flex-direction: column;
          .works_box__image {
            height: 100%;
          }
        }
      }
      .col-lg-3.second_row {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        .works_box {
          max-width: 430px;
          width: 100%;
          max-height: 615px;
          height: 100%;
          display: flex;
          flex-direction: column;
          .works_box__image {
            height: 100%;
          }
        }
      }
      .col-lg-4.second_row {
        padding-top: 30px;
        height: 100%;
        align-self: flex-end;
        .works_box {
          max-height: 428px;
          min-height: 428px;
          max-width: 681px;
          width: 100%;
          display: flex;
          flex-direction: column;
          .works_box__image {
            height: 100%;
          }
        }
      }
      .col-lg-4.third_row {
        align-self: flex-start;
        margin-top: -157px;
        .works_box {
          max-width: 430px;
          width: 100%;
          max-height: 615px;
          height: 100%;
          display: flex;
          flex-direction: column;
          margin-left: auto;
          .works_box__image {
            height: 100%;
          }
        }
      }
      .col-lg-6.third_row {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        padding-top: 30px;
        .works_box {
          max-height: 428px;
          min-height: 428px;
          max-width: 681px;
          width: 100%;
          display: flex;
          align-self: flex-start;
          .works_box__image {
            height: 100%;
          }
        }
      }
      .col-lg-6.fourth_row {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        padding-top: 30px;
        .works_box {
          max-height: 428px;
          min-height: 428px;
          max-width: 681px;
          width: 100%;
          display: flex;

        }
      }
      .col-lg-4.fourth_row {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        .works_box {
          max-width: 430px;
          width: 100%;
          max-height: 615px;
          height: 100%;
          display: flex;
          flex-direction: column;
          .works_box__image {
            height: 100%;
          }
        }
      }
      .col-lg-4.fifth_row {
        padding-top: 30px;
        display: flex;
        height: 100%;
        margin-top: -187px;
        .works_box {
          max-height: 428px;
          min-height: 428px;
          max-width: 681px;
          width: 100%;
          display: flex;
          align-self: flex-start;
          flex-direction: column;
          .works_box__image {
            height: 100%;
          }
        }
      }
      .col-lg-3.fifth_row {
        margin-top: -187px;
        padding-top: 30px;
        .works_box {
          max-width: 430px;
          width: 100%;
          max-height: 615px;
          height: 100%;
          flex-direction: column;
          display: flex;
          .works_box__image {
            height: 100%;
          }
        }
      }
      .col-lg-5.fifth_row {
        padding-top: 30px;
        .works_box {
          max-height: 428px;
          min-height: 428px;
          max-width: 681px;
          width: 100%;
          display: flex;
        }
      }
      .col-lg-3.sixth_row {
        margin-top: -187px;
        padding-top: 30px;
        .works_box {
          max-width: 430px;
          width: 100%;
          max-height: 615px;
          height: 100%;
          display: flex;
          .works_box__image {
            height: 100%;
          }
        }
      }
      .col-lg-4.sixth_row {
        display: flex;
        padding-top: 30px;
        .works_box {
          max-height: 428px;
          max-width: 681px;
          margin-left: auto;
          height: 100%;
          .works_box__image {
            height: 100%;
          }
        }
      }
      .col-lg-5.seventh_row {
        margin-top: -177px;
        padding-top: 30px;
        .works_box {
          max-height: 428px;
          min-height: 428px;
          max-width: 681px;
          display: flex;
          margin-left: auto;
        }
      }
      .col-lg-3.seventh_row {
        margin-right: auto;
        margin-top: -177px;
        padding-top: 30px;
        .works_box {
          max-width: 430px;
          width: 100%;
          max-height: 615px;
          height: 100%;
          .works_box__image {
            height: 100%;
          }
        }
      }
    }
    .des {
      margin-top: 11px;
      max-width: 425px;
      font-weight: 300;
    }
    .button.transparent {
      margin-top: 28px;
    }
  }
  .works_box {
    position: relative;
    max-height: 616px;
    transition: all .6s ease;
    &:hover img.works_box__image {
      filter: brightness(1.1);
    }
    .works_box__image {
      width: 100%;
      transition: all .7s ease;
    }
    .works_box__text_box {
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 333px;
      width: 100%;
      min-height: 93px;
      background-image: url('../img/bg-gradient.png');
      background-position: center;
      background-repeat: no-repeat;
      padding-left: 17px;
      display: flex;
      align-items: center;
      transition: all .7s ease;
      &:hover {
        filter: brightness(1.2);
      }
      .works_box__text_box__style {
        color: #fff;
        font-size: 18px;
        font-weight: 300;
      }
      .works_box__text_box__town {
        font-size: 14px;
        color: #FDE2C1;
        font-weight: 300;
        margin-top: 7px;
      }
      .works_box__text_box__arrow {
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }
  .button.transparent {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 160px;
    width: 100%;
    height: 42px;
    color: #E4BE90;
    border: 1px solid #E4BE90;
    font-size: 16px;
    transition: all .7s ease;
    font-weight: 300;
    margin-left: 30px;
    &:hover {
      border: 1px solid transparent;
      background: #E4BE90;
      color: #ffffff;
    }
  }
  .background_img {
    position: absolute;
    max-width: 800px;
    width: 100%;
    right: 0;
    top: 40px;
    z-index: 2;
  }
  .projects_text {
    margin-top: -177px;
  }
}
.second_title {
  font-size: 90px;
  margin-top: 67px;
  padding-left: 30px;
}

.des {
  font-size: 18px;
  font-weight: 300;
  padding-left: 30px;
  font-family: 'HelveticaNeueCyr',sans-serif;
  line-height: 22px;
}

//Second section
.second_section {
  padding-top: 358px;
  .slider_inside_design{
    .item {
      padding: 0 10px;
      display: flex;
      .works_box {
        max-width: 430px;
        width: 100%;
        max-height: 615px;
        min-height: 615px;
        position: relative;
        .works_box__text_box {
          position: absolute;
          bottom: 0;
          left: 0;
          max-width: 333px;
          width: 100%;
          min-height: 93px;
          background-image: url('../img/bg-gradient.png');
          background-position: center;
          background-repeat: no-repeat;
          padding-left: 17px;
          display: flex;
          align-items: center;
          transition: all .7s ease;
          &:hover {
            filter: brightness(1.2);
          }
          .works_box__text_box__style {
            color: #fff;
            font-size: 18px;
            font-weight: 300;
          }
          .works_box__text_box__town {
            font-size: 14px;
            color: #FDE2C1;
            font-weight: 300;
            margin-top: 7px;
          }
          .works_box__text_box__arrow {
            position: absolute;
            right: 24px;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
        .works_box__image {
          width: 100%;
          height: 100%;
        }
      }
    }
    .owl-stage {
      display: flex;
    }
    .owl-stage-outer {
      overflow: hidden;
    }
    .owl-nav {
      display: none;
    }
  }
  .owl-nav {
    max-width: 223px;
    width: 100%;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;
    button {
      display: block;
      width: 49px;
      height: 46px;
      background-color: transparent;
      span {
        font-size: 0;
      }
    }
    .owl-prev {
      background-image: url("../img/ar-left.png");
    }
    .owl-next {
      background-image: url("../img/ar-rigth.png");
    }
  }
  .current {
    color: #FDE2C1;
  }
}

//third_section
.third_section {
  padding-top: 308px;
  position: relative;
  .designers_slider {
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-width: 686px;
        width: 100%;
      }
      .info_text {
        max-width: 425px;
        padding-left: 30px;
        margin-top: 46px;
        .name {
          font-size: 30px;
        }
        .text {
          font-size: 18px;
          margin-top: 40px;
        }
      }
    }
    .owl-nav {
      position: absolute;
      width: 100%;
      z-index: 200;
      top: 50%;
      transform: translate(0,-50%);
      button {
        display: block;
        width: 49px;
        height: 46px;
        background-color: transparent;
        span {
          font-size: 0;
        }
      }
      .owl-prev {
        background-image: url("../img/ar-left.png");
        position: absolute;
        left: 10px;
        &.disabled {
          opacity: .2;
        }
      }
      .owl-next {
        background-image: url("../img/ar-rigth.png");
        position: absolute;
        right: 10px;
        &.disabled {
          opacity: .2;
        }
      }
    }
    .owl-stage {
      display: flex;
    }
    .owl-stage-outer {
      overflow: hidden;
    }
  }
}

//fourth_section
.fourth_section {
  padding-top: 187px;
  .pictures_row {
    display: flex;
    align-items: center;
    margin-left: -190px;
    padding-left: 0;
    padding-right: 0;
    .col-lg-8 {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      img:nth-child(2), img:nth-child(3) {
        max-width: 45%;
        height: 100%;
      }
      img:first-child {
        width: 94%;
      }
    }
    .col-lg-4 {
      padding-left: 0;
      padding-right: 0;
      img {
        width: 100%;
        display: flex;
        margin: 0;
      }
    }
    img {
      width: 100%;
      margin: 15px;
    }
  }
}
.current {
  color: #FDE2C1;
}
.little_title {
  font-size: 30px;
  padding-left: 30px;
  margin-top: 41px;
  margin-bottom: 28px;
}

.owl-nav {
  width: 100%;
  z-index: 200;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
  align-items: center;
  margin-top: 47px;
  button {
    display: block;
    width: 49px;
    height: 46px;
    background-color: transparent;
    margin: 0 10px;
    span {
      font-size: 0;
    }
  }
  .owl-prev {
    background-image: url("../img/ar-left.png");
    &.disabled {
          opacity: .2;
        }
  }
  .owl-next {
    background-image: url("../img/ar-rigth.png");
    &.disabled {
          opacity: .2;
        }
  }
}
.text_slider,.text_slider2,.text_slider3 {
  .owl-nav {
    display: none;
  }
  .owl-stage {
    display: flex;
  }
  .owl-stage-outer {
    overflow: hidden;
  }
}

//fifth section
.fifth_section {
  .col-lg-4 {
    padding: 0;
    margin-left: auto;
  }
  .pictures_row {
    display: flex;
    align-items: center;
    margin-right: -100px;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;

    .col-lg-8 {
      display: flex;
      flex-wrap: wrap;
      padding: 0;

      img:nth-child(1) {
        max-width: 60%;
        height: auto;
      }
      img:nth-child(2) {
        margin-right: -200px;
        max-width: 30%;
        object-fit: cover;
      }
      //
      //img:first-child {
      //  width: 94%;
      //}
    }

    .col-lg-4 {
      padding-left: 0;
      padding-right: 0;
      img {
        width: 100%;
        display: flex;
        margin: 0;
      }
    }
    img {
      width: 100%;
      margin: 15px;
      max-height: 613px;
    }
  }
}

//sixth section
.sixth_section {
  .pictures_row {
    display: flex;
    align-items: center;
    margin-left: -190px;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    .col-lg-8 {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      align-items: flex-end;
      img:nth-child(1), img:nth-child(2) {
        max-width: 45%;
        height: 100%;
      }
      img:last-child {
        margin-right: 30px;
      }
    }
    .col-lg-4 {
      padding-left: 0;
      padding-right: 0;
      img {
        width: 100%;
        display: flex;
        margin: 0;
      }
    }
    img {
      width: 100%;
      margin: 15px;
    }
  }
}

//seventh_section
.seventh_section {
  padding-top: 100px;
  .name {
    padding-left: 30px;
    margin-top: 53px;
    margin-bottom: 20px;
  }
  .text {
    padding-left: 30px;
    max-width: 70%;
  }
  .reward_slider {
    .item {
      display: flex;
      align-items: center;
      justify-content: center;

      .works_box {
        max-width: 585px;
        position: relative;
        display: flex;
        img {
          width: 100%;
          height: 100%;
          max-height: 757px;
        }
        .works_box__text_box {
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 333px;
        width: 100%;
        min-height: 93px;
        background-image: url('../img/bg-gradient.png');
        background-position: center;
        background-repeat: no-repeat;
        padding-left: 17px;
        display: flex;
        align-items: center;
        transition: all .7s ease;
        &:hover {
          filter: brightness(1.2);
        }
        .works_box__text_box__style {
          color: #fff;
          font-size: 18px;
          font-weight: 300;
        }
        .works_box__text_box__town {
          font-size: 14px;
          color: #FDE2C1;
          font-weight: 300;
          margin-top: 7px;
        }
        .works_box__text_box__arrow {
          position: absolute;
          right: 24px;
          top: 50%;
          transform: translate(0, -50%);
        }
      }
        .works_box__text_box__arrow {
          width: auto !important;
          height: auto !important;
        }
      }
    }
    .owl-stage-outer {

    }
    .owl-stage {
      display: flex;
    }
    .owl-nav {
      position: absolute;
      top: 50%;
      transform: translate(0,-50%);
      width: 100%;
      padding-left: 0;

      left: 0;
      margin-top: 0;
      button {
        position: absolute;
        margin: 0;
      }
      .owl-prev {
        left: 0;
      }
      .owl-next {
        right: 0;
      }
    }
  }
}

//eight_section
.eight_section {
  padding-top: 201px;
  .col-lg-7 {
    img {
      width: 90%;
    }
  }
  .changer {
    margin: 50px 0;
    align-items: center;
    a {
      display: block;
      width: 49px;
      height: 46px;
    }
    .prev {
      background-image: url("../img/ar-left.png");
    }
    .citys {
      margin-left: 20px;
      margin-right: 20px;
      font-size: 18px;
      color: #454556;
      span {
        margin: 0 10px;
        color: #454556;
      }
      span.active {
        color: #E4BE90;
      }
    }
    .next {
      background-image: url("../img/ar-rigth.png");
    }
  }
  .contacts {
    margin-bottom: 18px;
    color: #454556;
  }
  .mail {
    margin-top: 57px;
    display: block;
    color: #454556;
    &:hover {
      text-decoration: underline;
    }
  }
}


// MOdal
.modal-dialog {
  max-width: 878px;
}
.modal-content {
  padding: 145px;
}
.modal_title {
  font-size: 60px;
  margin-bottom: 32px;
  line-height: 60px;
}
.modal_text {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 44px;
}
.check_row {
  margin-left: 0;
  margin-right: 0;
  max-width: 549px;
  align-items: center;
  justify-content: space-between;
}
.close {
  position: absolute;
  z-index: 200;
  right: 25px;
  top: 20px;
}
.form {
  input[type="text"] {
    width: 100%;
    border: none;
    padding-bottom: 10px;
    border-bottom: 2px solid #E4BE90;
    margin-top: 30px;
    padding-left: 20px;
    ::placeholder {
      font-size: 16px;
      color: #454556;
    }
  }
  .send {
    max-width: 226px;
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 49px;
    background: #E4BE90;
    border: 1px solid transparent;
    transition: all .6s ease;
    color: #ffffff;
    &:hover {
      background: transparent;
      border: 1px solid #E4BE90;
      color: #E4BE90;
    }
  }
  input[type="radio"]:checked + label {
    color: #E4BE90;
  }
  input[type="radio"] {
    margin-right: 5px;
  }
}
//Footer
footer {
  padding: 140px 0 50px;
  .copyright {
    font-size: 16px;
    color: #454556;
  }
}

