* {
  margin: 0;
  padding: 0;
  font-family: 'HelveticaNeueCyr',sans-serif;
  box-sizing: border-box;
}
*::-webkit-scrollbar { width: 3px; height: 3px;}
*::-webkit-scrollbar-button {  background-color: #666; }
*::-webkit-scrollbar-track {  background-color: #999;}
*::-webkit-scrollbar-track-piece { background-color: #ffffff;}
*::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
*::-webkit-scrollbar-corner { background-color: #999;}
*::-webkit-resizer { background-color: #666;}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
a:focus, button:focus {
  outline: 0;
}
.container {
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 15px;
}
.row  {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.col {
  padding: 0 15px;
}
// Header
header {
  height: 100px;
  position: relative;
  .container {
    height: 100%;
    .row {
      align-items: center;
      height: 100%;
      .col:last-child {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }
  .nav.main_menu {
    display: flex;
    margin-left: 82px;
    li {
      margin-left: 49px;
      &:first-child {
        margin-left: 0;
      }
      a {
        font-size: 16px;
        font-weight: 300;
        color: #20202B;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          transition: all .6s ease;
          bottom: -3px;
          left: 0;
          height: 1px;
          width: 0;
          opacity: 0;
          visibility: hidden;
          background: #20202B;  
        }
        &:hover:after {
          width: 100%;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  .phone {
    font-size: 18px;
    color: #20202B;
    display: block;
    width: 100%;
    min-width: 150px;
    transition: all .5s ease;
    &:hover {
      letter-spacing: 1px;
    }
  }
  .button.modal {
    display: flex;
    margin-left: 19px;
    max-width: 160px;
    min-width: 160px;
    width: 100%;
    height: 42px;
    justify-content: center;
    align-items: center;
    background: #E4BE90;
    font-size: 16px;
    color: #ffffff;
    transition: all .6s ease;
    border: 1px solid transparent;
    &:hover {
      background: transparent;
      border: 1px solid #E4BE90;
      color: #E4BE90;
    }
  }
}

// First section
.first_section {
  position: relative;
  .col-6 {
    padding: 0 15px;
    max-width: 50%
  }
  .container {
    max-width: 1800px;
    .row:first-child {
      justify-content: center;
      align-items: flex-end;
    }
    .row:nth-child(2) {
      justify-content: stretch;
      .col {
        .works_box {
          .works_box__text_box {
            bottom: 3px;
          }
        }
      }
      .col:nth-child(2) {
        .works_box {
          .works_box__text_box {
            bottom: 1px;
          }
        }
      }
    }
    .row:last-child {
      justify-content: flex-start;
      .col:first-child {
        margin-left: 100px;
        .works_box {
          margin-top: -60%;
        }
      }
    }
    .col {
        max-width: 33.33%;
        padding: 0 15px;
      }
  }
  .works_box {
    margin-top: 30px;
    position: relative;
    max-height: 616px;
    transition: all .6s ease;
    &:hover img.works_box__image {
        filter: brightness(1.1);
    }
    .works_box__image {
      width: 100%;
      height: auto;
      transition: all .7s ease;
    }
    .works_box__text_box {
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 333px;
      width: 100%;
      min-height: 93px;
      background-image: url('../img/bg-gradient.png');
      background-position: center;
      background-repeat: no-repeat;
      padding-left: 17px;
      display: flex;
      align-items: center;
      transition: all .7s ease;
      &:hover {
        filter:brightness(1.2);
      }
      .works_box__text_box__style {
        color: #fff;
        font-size: 18px;
        font-weight: 300;
      }
      .works_box__text_box__town {
        font-size: 14px;
        color: #FDE2C1;
        font-weight: 300;
        margin-top: 7px;
      }
      .works_box__text_box__arrow {
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translate(0,-50%);
      }
    }
  }
}
.background_img {
  position: absolute;
  max-width: 800px;
  width: 100%;
  right: 0;
  top: 41px;
}